<h1 style="text-align: center;">Welcome to docker_1 project @ 42</h1>
<h1>&nbsp;</h1>
<p style="text-align: center;"><strong><em>This is a simple Ruby on rails blog app for ex02</em></strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><em>bgonzale</em></p>
